<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Task 5</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.2.0/magnific-popup.css"
    integrity="sha512-UhvuUthI9VM4N3ZJ5o1lZgj2zNtANzr3zyucuZZDy67BO6Ep5+rJN2PST7kPj+fOI7M/7wVeYaSaaAICmIQ4sQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="../css/index.css" />
</head>

<body>
  <header class="header">
    <div class="container">
      <div class="header-components">
        <a href="/" class="header-logo">
          <img src="../images/headerlogo.png" alt="Tea gar logo" width="158" height="62">
        </a>
        <nav class="main-menu">
          <ul class="menu-list list-plain">
            <li><a href="#" class="item">About Us</a></li>
            <li><a href="#" class="item">Solutions</a></li>
            <li><a href="#" class="item">Industries</a></li>
            <li><a href="#" class="item">Core Features</a></li>
            <li><a href="#" class="item">Contact Us</a></li>
          </ul>
          <div class="buttons-header">
            <a href="" class="btn btn-secondary">Login</a>
            <a href="" class="btn btn-primary">get started</a>
          </div>
        </nav>
        <div class="buttons-header">
          <div class="burger-menu">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <a href="" class="btn btn-light">Login</a>
          <a href="" class="btn btn-primary">get started</a>
        </div>
      </div>
    </div>
    </div>
  </header>
  <main>
    <section class="section bg-light-secondary section-p center hero-section">
      <div class="container">
        <div class="section-header">
          <div class="section-title">
            Automating Enterprise <span>Performance</span> in Markets.
          </div>
          <div class="section-desc">
            An Integrated Solution that Automates and Improves the Performance
            of Enterprises in Central Fruit and Vegetable Markets
          </div>
        </div>
        <div class="section-btn">
          <a href="" class="btn btn-primary">get started</a>
        </div>
        <div class="section-content">
          <div class="swiper hero-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="https://www.youtube.com/watch?v=zU9y354XAgM" class="popup-link hero-img">
                  <img src="../images/hero.png" alt="hero" />
                </a>
              </div>
              <div class="swiper-slide">
                <a href="https://www.youtube.com/watch?v=zU9y354XAgM" class="popup-link hero-img">
                  <img src="../images/hero.png" alt="hero" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section bg-secondary section-p center white section-mt">
      <div class="container">
        <div class="section-header">
          <div class="section-sub-title">Our Gallery</div>
          <div class="section-title">
            Essential features that <span>integrate seamlessly</span> into
            your business. All within a single platform.
          </div>
          <div class="section-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore
          </div>
          <div class="section-content">
            <div class="parent-container">
              <div class="row">
                <div class="col-12 col-md-4"> <a href="../images/random1.jpg" class="mfp-image"><img
                      src="../images/random1.jpg" alt=""></a>
                </div>
                <div class="col-12 col-md-4"> <a href="../videos/mp4.mp4" class="mfp-iframe"><img
                      src="../images/random2.jpg" alt=""></a>
                </div>
                <div class="col-12 col-md-4"> <a href="https://www.youtube.com/watch?v=zU9y354XAgM"
                    class="mfp-iframe"><img src="../images/random3.jpg" alt=""></a>
                </div>
              </div>
            </div>
          </div>
          <div class="section-btn">
            <a href="" class="btn btn-primary">get started</a>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-p center">
      <div class="section-header">
        <div class="section-sub-title">Out Products</div>
        <div class="section-title">
          Meet the <span>product</span> lineup.
        </div>
        <div class="section-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore
        </div>
      </div>
      <div class="section-content">
        <div class="products">
          <div class="row justify-content-center">
            <div class="col-12 col-md-6 d-flex">
              <div class="product">
                <div class="product-icon">
                  <img src="../images/Vector.png" alt="" />
                </div>
                <div class="product-title">
                  Central Market for Fruits and Vegetables System
                </div>
                <div class="product-desc">
                  Nemo enim ipsam voluptatem quia voluptas
                </div>
                <div class="product-btn">
                  <a href="" class="btn btn-small">get started</a>
                </div>
                <div class="product-img">
                  <img src="../images/image1.png" alt="" />
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 d-flex">
              <div class="product">
                <div class="product-icon">
                  <img src="../images/Vector.png" alt="" />
                </div>
                <div class="product-title">
                  Central Market for Fruits and Vegetables System
                </div>
                <div class="product-desc">
                  Nemo enim ipsam voluptatem quia voluptas
                </div>
                <div class="product-btn">
                  <a href="" class="btn btn-small">get started</a>
                </div>
                <div class="product-img">
                  <img src="../images/image1.png" alt="" />
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 d-flex">
              <div class="product">
                <div class="product-icon">
                  <img src="../images/Vector.png" alt="" />
                </div>
                <div class="product-title">
                  Central Market for Fruits and Vegetables System
                </div>
                <div class="product-desc">
                  Nemo enim ipsam voluptatem quia voluptas
                </div>
                <div class="product-btn">
                  <a href="" class="btn btn-small">get started</a>
                </div>
                <div class="product-img">
                  <img src="../images/image2.png" alt="" />
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 d-flex">
              <div class="product">
                <div class="product-icon">
                  <img src="../images/Vector.png" alt="" />
                </div>
                <div class="product-title">
                  Central Market for Fruits and Vegetables System
                </div>
                <div class="product-desc">
                  Nemo enim ipsam voluptatem quia voluptas
                </div>
                <div class="product-btn">
                  <a href="" class="btn btn-small">get started</a>
                </div>
                <div class="product-img">
                  <img src="../images/image2.png" alt="" />
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex">
              <div class="product small">
                <div class="product-icon">
                  <img src="../images/Vector.png" alt="" />
                </div>
                <div class="product-title">
                  Central Market for Fruits and Vegetables System
                </div>
                <div class="product-desc">
                  Nemo enim ipsam voluptatem quia voluptas
                </div>
                <div class="product-btn">
                  <a href="" class="btn btn-small">get started</a>
                </div>
                <div class="product-img">
                  <img src="../images/image5.png" alt="" />
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex">
              <div class="product small">
                <div class="product-icon">
                  <img src="../images/Vector.png" alt="" />
                </div>
                <div class="product-title">
                  Central Market for Fruits and Vegetables System
                </div>
                <div class="product-desc">
                  Nemo enim ipsam voluptatem quia voluptas
                </div>
                <div class="product-btn">
                  <a href="" class="btn btn-small">get started</a>
                </div>
                <div class="product-img">
                  <img src="../images/image5.png" alt="" />
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex">
              <div class="product small">
                <div class="product-icon">
                  <img src="../images/Vector.png" alt="" />
                </div>
                <div class="product-title">
                  Central Market for Fruits and Vegetables System
                </div>
                <div class="product-desc">
                  Nemo enim ipsam voluptatem quia voluptas
                </div>
                <div class="product-btn">
                  <a href="" class="btn btn-small">get started</a>
                </div>
                <div class="product-img">
                  <img src="../images/image5.png" alt="" />
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex">
              <div class="product small">
                <div class="product-icon">
                  <img src="../images/Vector.png" alt="" />
                </div>
                <div class="product-title">
                  Central Market for Fruits and Vegetables System
                </div>
                <div class="product-desc">
                  Nemo enim ipsam voluptatem quia voluptas
                </div>
                <div class="product-btn">
                  <a href="" class="btn btn-small">get started</a>
                </div>
                <div class="product-img">
                  <img src="../images/image5.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-footer">
        <div class="row align-items-start">
          <div class="col-md-8">
            <div class="section-title">
              Let us build <span>custom solutions</span> tailored to your
              business needs.
            </div>
          </div>
          <div class="col-md-4 d-flex justify-content-end-lg">
            <a href="" class="btn btn-primary">Request Now</a>
          </div>
        </div>
      </div>
    </section>
    <section class="section bg-secondary section-p center white">
      <div class="container">
        <div class="section-header">
          <div class="section-sub-title">Core Features</div>
          <div class="section-title">
            Essential features that integrate <span>seamlessly</span> into
            your business. All within a single platform.
          </div>
          <div class="section-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore
          </div>
          <div class="section-content">
            <div class="swiper features-swiper">
              <div class="swiper-button-prev"></div>
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="feature-slide" data-img="../images/image1.png" data-desc="One place to define and edit business resources and partners including: accounts, banks, inventory items,
customers (their types and blacklisted customers), addresses, box types and providers, carriers, farmers,
suppliers, and sellers.">
                    <div class="feature-icon">
                      <img src="../images/fe.png" alt="" />
                    </div>
                    <div class="feature-title">Admin Panel</div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="feature-slide" data-img="../images/image5.png" data-desc="One place to define and edit business resources and partners including: accounts, banks, inventory items,
customers (their types and blacklisted customers), addresses, box types and providers, carriers, farmers,
suppliers, and sellers.">
                    <div class="feature-icon">
                      <img src="../images/fe.png" alt="" />
                    </div>
                    <div class="feature-title">Admin Panel</div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="feature-slide" data-img="../images/image5.png" data-desc="One place to define and edit business resources and partners including: accounts, banks, inventory items,
customers (their types and blacklisted customers), addresses, box types and providers, carriers, farmers,
suppliers, and sellers.">
                    <div class="feature-icon">
                      <img src="../images/fe.png" alt="" />
                    </div>
                    <div class="feature-title">Admin Panel</div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="feature-slide" data-img="../images/image2.png" data-desc="One place to define and edit business resources and partners including: accounts, banks, inventory items,
customers (their types and blacklisted customers), addresses, box types and providers, carriers, farmers,
suppliers, and sellers.">
                    <div class="feature-icon">
                      <img src="../images/fe.png" alt="" />
                    </div>
                    <div class="feature-title">Admin Panel</div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="feature-slide" data-img="../images/image5.png" data-desc="One place to define and edit business resources and partners including: accounts, banks, inventory items,
customers (their types and blacklisted customers), addresses, box types and providers, carriers, farmers,
suppliers, and sellers.">
                    <div class="feature-icon">
                      <img src="../images/fe.png" alt="" />
                    </div>
                    <div class="feature-title">Admin Panel</div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="feature-slide" data-img="../images/image1.png" data-desc="One place to define and edit business resources and partners including: accounts, banks, inventory items,
customers (their types and blacklisted customers), addresses, box types and providers, carriers, farmers,
suppliers, and sellers.">
                    <div class="feature-icon">
                      <img src="../images/fe.png" alt="" />
                    </div>
                    <div class="feature-title">Admin Panel</div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="feature-slide" data-img="../images/image5.png" data-desc="One place to define and edit business resources and partners including: accounts, banks, inventory items,
customers (their types and blacklisted customers), addresses, box types and providers, carriers, farmers,
suppliers, and sellers.">
                    <div class="feature-icon">
                      <img src="../images/fe.png" alt="" />
                    </div>
                    <div class="feature-title">Admin Panel</div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="feature-slide" data-img="../images/image2.png" data-desc="One place to define and edit business resources and partners including: accounts, banks, inventory items,
customers (their types and blacklisted customers), addresses, box types and providers, carriers, farmers,
suppliers, and sellers.">
                    <div class="feature-icon">
                      <img src="../images/fe.png" alt="" />
                    </div>
                    <div class="feature-title">Admin Panel</div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="feature-slide" data-img="../images/image5.png" data-desc="One place to define and edit business resources and partners including: accounts, banks, inventory items,
customers (their types and blacklisted customers), addresses, box types and providers, carriers, farmers,
suppliers, and sellers.">
                    <div class="feature-icon">
                      <img src="../images/fe.png" alt="" />
                    </div>
                    <div class="feature-title">Admin Panel</div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="feature-slide" data-img="../images/image5.png"
                    data-desc="One place to define and edit business resources and partners including: accounts, banks, inventory items, customers (their types and blacklisted customers), addresses, box types and providers, carriers, farmers, suppliers, and sellers.">
                    <div class="feature-icon">
                      <img src="../images/fe.png" alt="" />
                    </div>
                    <div class="feature-title">Admin Panel</div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="feature-slide" data-img="../images/image5.png" data-desc="One place to define and edit business resources and partners including: accounts, banks, inventory items,
customers (their types and blacklisted customers), addresses, box types and providers, carriers, farmers,
suppliers, and sellers.">
                    <div class="feature-icon">
                      <img src="../images/fe.png" alt="" />
                    </div>
                    <div class="feature-title">Admin Panel</div>
                  </div>
                </div>
              </div>
              <div class="swiper-button-next"></div>
            </div>
            <div class="feature-display">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-md-8">
                    <div class="feature-desc"></div>
                    <div class="feature-img">
                      <img src="" alt="Feature Image" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-btn">
            <a href="" class="btn btn-primary">get started</a>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-mt">
      <div class="container">
        <div class="section-header">
          <div class="row align-items-end">
            <div class="col-12 col-md-8">
              <div class="section-sub-title">Key Benefits</div>
              <div class="section-title">
                75% of <span>Fortune 500 companies</span> drive their growth
                using our systems.
              </div>
              <div class="section-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore
              </div>
            </div>
            <div class="col-12 col-md-4 d-flex justify-content-end-lg">
              <a href="" class="btn btn-primary">Talk To Sales</a>
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
              <div class="benefit">
                <a class="benefit-img mfp-iframe" href="../files/dummy.pdf">
                  <img src="../images/Vector.png" alt="" />
                </a>
                <div class="benefit-title">
                  Reliable, fast, and enables real-time business
                  communication.
                </div>
                <div class="benefit-desc">
                  Experience a dependable and speedy platform that ensures
                  seamless communication and instant data sharing to keep your
                  business connected and responsive.
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <div class="benefit">
                <a class="benefit-img mfp-iframe" href="../videos/mp4.mp4">
                  <img src="../images/Vector.png" alt="" />
                </a>
                <div class="benefit-title">
                  Reliable, fast, and enables real-time business
                  communication.
                </div>
                <div class="benefit-desc">
                  Experience a dependable and speedy platform that ensures
                  seamless communication and instant data sharing to keep your
                  business connected and responsive.
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <div class="benefit">
                <a class="benefit-img mfp-iframe" href="https://www.youtube.com/watch?v=zU9y354XAgM">
                  <img src="../images/Vector.png" alt="" />
                </a>
                <div class="benefit-title">
                  Reliable, fast, and enables real-time business
                  communication.
                </div>
                <div class="benefit-desc">
                  Experience a dependable and speedy platform that ensures
                  seamless communication and instant data sharing to keep your
                  business connected and responsive.
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <div class="benefit">
                <a class="benefit-img mfp-image" href="../images/hero.png">
                  <img src="../images/Vector.png" alt="" />
                </a>
                <div class="benefit-title">
                  Reliable, fast, and enables real-time business
                  communication.
                </div>
                <div class="benefit-desc">
                  Experience a dependable and speedy platform that ensures
                  seamless communication and instant data sharing to keep your
                  business connected and responsive.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section bg-secondary section-pt center white">
      <div class="container">
        <div class="section-header">
          <div class="section-sub-title">Success Stories</div>
          <div class="section-title">
            Driving transformation in over <span>50+ Company</span>.
          </div>
          <div class="section-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore
          </div>
        </div>
        <div class="section-content">
          <div class="swiper stories-swiper">
            <div class="swiper-pagination"></div>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="story-slide" style="
                      background-image: url('../images/FContent.png');
                     
                    ">
                  <div class="row">
                    <div class="col-12 col-md-8">
                      <div class="section-sub-title">
                        #1 AlMadina Trading Company
                      </div>
                      <div class="section-desc">
                        <p>
                          a wholesaler client of ours in Hebron (Hisba) market
                          operates two business models (trading and commission
                          retail) and deals with over 1300 suppliers and over
                          6000 customers (retailers), employs 20 salesclerks
                          and 4 accountants (most of which use the system).
                        </p>
                        <p>
                          This client uses our product on a daily basis and
                          has performed over 590,000 business transaction in
                          the past year across sourcing, sales, payments,
                          invoices, payroll, inventory, and
                          reports/statements. These transactions, obviously,
                          map to a larger number of system transactions. This
                          same client, though our first, has expressed immense
                          interest in our system to the degree of which he s
                          complimentary willing to take part in marketing it
                          to other businesses in the market once we are ready.
                        </p>
                      </div>
                      <div class="section-footer">
                        <a href="" class="btn btn-primary">Let’s Build Your Story Together</a>
                      </div>
                    </div>
                    <div class="col-12 col-md-4">
                      <div class="statistics">
                        <div class="stat">
                          <div class="stat-number">6000</div>
                          <div class="stat-title">customers</div>
                        </div>
                        <div class="stat">
                          <div class="stat-number">1300</div>
                          <div class="stat-title">suppliers</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="story-slide" style="
                      background-image: url('../images/image1.png');
                     
                    ">
                  <div class="row">
                    <div class="col-12 col-md-8">
                      <div class="section-sub-title">
                        #2 AlMadina Trading Company
                      </div>
                      <div class="section-desc">
                        <p>
                          a wholesaler client of ours in Hebron (Hisba) market
                          operates two business models (trading and commission
                          retail) and deals with over 1300 suppliers and over
                          6000 customers (retailers), employs 20 salesclerks
                          and 4 accountants (most of which use the system).
                        </p>
                        <p>
                          This client uses our product on a daily basis and
                          has performed over 590,000 business transaction in
                          the past year across sourcing, sales, payments,
                          invoices, payroll, inventory, and
                          reports/statements. These transactions, obviously,
                          map to a larger number of system transactions. This
                          same client, though our first, has expressed immense
                          interest in our system to the degree of which he s
                          complimentary willing to take part in marketing it
                          to other businesses in the market once we are ready.
                        </p>
                      </div>
                      <div class="section-footer">
                        <a href="" class="btn btn-primary">Let’s Build Your Story Together</a>
                      </div>
                    </div>
                    <div class="col-12 col-md-4 d-flex justify-content-end-lg">
                      <div class="statistics">
                        <div class="stat">
                          <div class="stat-number">6000</div>
                          <div class="stat-title">customers</div>
                        </div>
                        <div class="stat">
                          <div class="stat-number">1300</div>
                          <div class="stat-title">suppliers</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="story-slide" style="
                      background-image: url('../images/image2.png');
                     
                    ">
                  <div class="row">
                    <div class="col-12 col-md-8">
                      <div class="section-sub-title">
                        #3 AlMadina Trading Company
                      </div>
                      <div class="section-desc">
                        <p>
                          a wholesaler client of ours in Hebron (Hisba) market
                          operates two business models (trading and commission
                          retail) and deals with over 1300 suppliers and over
                          6000 customers (retailers), employs 20 salesclerks
                          and 4 accountants (most of which use the system).
                        </p>
                        <p>
                          This client uses our product on a daily basis and
                          has performed over 590,000 business transaction in
                          the past year across sourcing, sales, payments,
                          invoices, payroll, inventory, and
                          reports/statements. These transactions, obviously,
                          map to a larger number of system transactions. This
                          same client, though our first, has expressed immense
                          interest in our system to the degree of which he s
                          complimentary willing to take part in marketing it
                          to other businesses in the market once we are ready.
                        </p>
                      </div>
                      <div class="section-footer">
                        <a href="" class="btn btn-primary">Let’s Build Your Story Together</a>
                      </div>
                    </div>
                    <div class="col-12 col-md-4 d-flex justify-content-end-lg">
                      <div class="statistics">
                        <div class="stat">
                          <div class="stat-number">6000</div>
                          <div class="stat-title">customers</div>
                        </div>
                        <div class="stat">
                          <div class="stat-number">1300</div>
                          <div class="stat-title">suppliers</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="story-slide" style="
                      background-image: url('../images/image5.png');
                     
                    ">
                  <div class="row">
                    <div class="col-12 col-md-8">
                      <div class="section-sub-title">
                        #4 AlMadina Trading Company
                      </div>
                      <div class="section-desc">
                        <p>
                          a wholesaler client of ours in Hebron (Hisba) market
                          operates two business models (trading and commission
                          retail) and deals with over 1300 suppliers and over
                          6000 customers (retailers), employs 20 salesclerks
                          and 4 accountants (most of which use the system).
                        </p>
                        <p>
                          This client uses our product on a daily basis and
                          has performed over 590,000 business transaction in
                          the past year across sourcing, sales, payments,
                          invoices, payroll, inventory, and
                          reports/statements. These transactions, obviously,
                          map to a larger number of system transactions. This
                          same client, though our first, has expressed immense
                          interest in our system to the degree of which he s
                          complimentary willing to take part in marketing it
                          to other businesses in the market once we are ready.
                        </p>
                      </div>
                      <div class="section-footer">
                        <a href="" class="btn btn-primary">Let’s Build Your Story Together</a>
                      </div>
                    </div>
                    <div class="col-12 col-md-4 d-flex justify-content-end-lg">
                      <div class="statistics">
                        <div class="stat">
                          <div class="stat-number">6000</div>
                          <div class="stat-title">customers</div>
                        </div>
                        <div class="stat">
                          <div class="stat-number">1300</div>
                          <div class="stat-title">suppliers</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script>
          window.stories = ['../images/image4.png', '../images/image4.png', '../images/image4.png', '../images/image4.png']
        </script>
      </div>
    </section>
    <section class="section bg-secondary section-p center white">
      <div class="container">
        <div class="section-header">
          <div class="section-title">Trusted By</div>
          <div class="section-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore
          </div>
        </div>
        <div class="section-content">
          <div class="swiper trusted-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="trusted-slide">
                  <div class="trusted-img">
                    <img src="../images/image.png" alt="logoibsum img" />
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="trusted-slide">
                  <div class="trusted-img">
                    <img src="../images/image.png" alt="logoibsum img" />
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="trusted-slide">
                  <div class="trusted-img">
                    <img src="../images/image.png" alt="logoibsum img" />
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="trusted-slide">
                  <div class="trusted-img">
                    <img src="../images/image.png" alt="logoibsum img" />
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="trusted-slide">
                  <div class="trusted-img">
                    <img src="../images/image.png" alt="logoibsum img" />
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="trusted-slide">
                  <div class="trusted-img">
                    <img src="../images/image.png" alt="logoibsum img" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-p center">
      <div class="container">
        <div class="section-header">
          <div class="section-sub-title">indusstries</div>
          <div class="section-title">
            Transforming Over <span>200 Industries</span> with Innovative
            Solutions.
          </div>
          <div class="section-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore
          </div>
        </div>
        <div class="section-content">
          <div class="swiper indusstries-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="industry" style="background-image: url('../images/Industry.png');">
                  <div class="industry-content">
                    <div class="industry-title">Industry title</div>
                    <div class="industry-desc">
                      Enjoy the flexibility of a cloud based system that scales with your business needs, offering
                      uninterrupted access from any device, wherever you are.
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="industry" style="background-image: url('../images/Industry.png');">
                  <div class="industry-content">
                    <div class="industry-title">Industry title</div>
                    <div class="industry-desc">
                      Enjoy the flexibility of a cloud based system that scales with your business needs, offering
                      uninterrupted access from any device, wherever you are.
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="industry" style="background-image: url('../images/Industry.png');">
                  <div class="industry-content">
                    <div class="industry-title">Industry title</div>
                    <div class="industry-desc">
                      Enjoy the flexibility of a cloud based system that scales with your business needs, offering
                      uninterrupted access from any device, wherever you are.
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="industry" style="background-image: url('../images/Industry.png');">
                  <div class="industry-content">
                    <div class="industry-title">Industry title</div>
                    <div class="industry-desc">
                      Enjoy the flexibility of a cloud based system that scales with your business needs, offering
                      uninterrupted access from any device, wherever you are.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- أزرار التنقل -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>

      </div>
    </section>
    <section class="section bg-secondary section-p center white">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-6">
            <div class="section-header">
              <div class="section-title">Work together.</div>
              <div class="section-desc">
                Now any team can simplify workflows, collaborate, and tackle
                their most complex challenges together with our suite of
                products.
              </div>
            </div>
            <div class="section-btn">
              <a href="" class="btn btn-primary">Become Our Partner</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-12 col-sm-6 col-md-3">
          <a class="logo">
            <img src="../images/footerlogo.png" alt="" />
          </a>
          <div class="footer-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore
          </div>
          <div class="footer-item">
            <div class="footer-item-title">Connect with us</div>
            <div class="footer-item-content">
              <ul class="social-list list-plain mt-20">
                <li>
                  <a href="" class="social-list-item"><i class="fa-brands fa-linkedin-in"></i></a>
                </li>
                <li>
                  <a href="" class="social-list-item"><i class="fa-brands fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="" class="social-list-item"><i class="fa-brands fa-instagram"></i></a>
                </li>
                <li>
                  <a href="" class="social-list-item"><i class="fa-brands fa-x-twitter"></i></a>
                </li>
                <li>
                  <a href="" class="social-list-item"><i class="fa-brands fa-whatsapp"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-2">
          <div class="footer-item">
            <div class="footer-item-title">Website links</div>
            <div class="footer-item-content">
              <ul class="footer-list list-plain">
                <li><a href="" class="item">About Us</a></li>
                <li><a href="" class="item">Core Features</a></li>
                <li><a href="" class="item">Clients</a></li>
                <li><a href="" class="item">Industries</a></li>
                <li><a href="" class="item">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-2">
          <div class="footer-item">
            <div class="footer-item-title">Legal</div>
            <div class="footer-item-content">
              <ul class="footer-list list-plain">
                <li><a href="" class="item">Privacy Policy</a></li>
                <li><a href="" class="item">Terms</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="footer-item">
            <div class="footer-item-title">Contact Us</div>
            <div class="footer-item-content">
              <ul class="footer-list list-plain">
                <li>
                  <a href="" class="item">City Center Complex (2nd Floor), Dura, Palestine</a>
                </li>
                <li><a href="" class="item">admin@teajar.co</a></li>
                <li><a href="" class="item">+970-569-296-501</a></li>
                <li><a href="" class="item">+972-2-2289152</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
      <div href="#chat-popup" class="open-chats">
        <i class="fa-regular fa-comments"></i>
      </div>
      <div class="mfp-hide">
      <div class="chats-box" id="chat-popup">
        <div class="data"></div>
        <form class="form-chat">
          <input type="text" class="message" placeholder="Write msg here...">
          <input type="button" class="btn btn-small send" value="Send">
          <input type="button" class="btn btn-small receive" value="Receive">
        </form>
      </div>
      </div>
    </div>
  </footer>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.2.0/jquery.magnific-popup.js"
    integrity="sha512-tOyzsVuGuz0il5EcXFi/qA5DI4BNLna4gHbWn+HbQBP0jmRhyqMKup24fzyKnxSX0jBxt2+qStqwwHDIh5TaGA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="../js/index.js" type="module"></script>
</body>

</html>